<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesgame.css">
    <title>GAME</title>
</head>
<body> 
    <p>Joueur : {{joueur}}</p>
    <p>Difficulté : {{difficulte}}</p>
    <p>Nombre de vies : {{nombre_vies}}</p>
    {% if liste_lettres_utilisees %}
        <p>Lettres déjà essayées :{% for lettre in liste_lettres_utilisees %} <span> {{lettre}}</span> {% endfor %}</p>
    {% endif %}
    
    <div class="pendu">
        <div class="trait1 forme-pendu"></div>
        <div class="trait2 forme-pendu"></div>
        {% if nombre_vies <= 7 %}
        <div class="trait3 forme-pendu"></div>
        {% endif %}
        {%if nombre_vies <=6 %}
        <div class="trait4 forme-pendu"></div>
        {% endif %}
        {%if nombre_vies <=5 %}
        <div class="visage forme-pendu"></div>
        {% endif %}
        {%if nombre_vies <=4 %}
        <div class="coprs forme-pendu"></div>
        {% endif %}
        {%if nombre_vies <=3 %}
        <div class="bras-gauche forme-pendu"></div>
        {% endif %}
        {%if nombre_vies <=2 %}
        <div class="bras-droit forme-pendu"></div>
        {% endif %}
        {%if nombre_vies <=1%}
        <div class="jambe-gauche forme-pendu"></div>
        {% endif %}
        {%if nombre_vies <=0 %}
        <div class="jambe-droite forme-pendu"></div>
        {% endif %}
        
    </div>
    <div class="underscores">{{mot_underscore}}</div>
    
    

    <form action="/game" method="POST">
        <label for="lettre">Entrer une lettre :</label>
        <input type="text" maxlength="1" id="lettre" name="lettre" pattern="[a-z]" title="seules les lettres sont autorisées" autofocus>
        <button type="submit">valider</button>
    </form>

    

    {% if message_utilisateur%}
    <p class="message">{{message_utilisateur}}</p>
    {% endif %}

    

</body>
</html>