<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>NAME</title>
</head>
<body>
    <div class="carte">
        <form action="/" method="post">
            <label for="nom">Votre nom : </label>
            <input type="text" id="nom" name="nom">
            <button type="submit">valider</button>
        </form>
    </div>
    
</body>
</html>